
<div class="section-richtext section" aria-labelledby="section-richtext-{{ section.id }}">
  <div class="container-narrow">
    <div class="section-richtext__wrapper">
      <div class="section-richtext__content">
        {% if section.settings.heading != blank %}
          <h2 class="section-richtext__heading h2" id="section-richtext-{{ section.id }}">
            {{ section.settings.heading }}
          </h2>
        {% endif %}
        
        {% if section.settings.richtext != blank %}
          <div class="section-richtext__text rte">
            {{ section.settings.richtext }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Rich-Text",
  "tag": "section",
  "class": "section-richtext-wrapper",
  "settings": [
    {
      "type": "header",
      "content": "Inhalt"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Überschrift",
      "default": "Überschrift"
    },
    {
      "type": "richtext",
      "id": "richtext",
      "label": "Text",
      "default": "<p>Fügen Sie hier Ihren Text hinzu. Nutzen Sie die Formatierungsoptionen, um <strong>fett</strong>, <em>kursiv</em> oder Links hinzuzufügen.</p>"
    }
  ],
  "presets": [
    {
      "name": "Rich-Text",
      "category": "Text"
    }
  ]
}
{% endschema %}