{% comment %}<div>{% endcomment %}
  {% comment %}<a href="{{ routes.collections_url }}">Go back to all collections</a>{% endcomment %}
  {% comment %}{% paginate collection.products by section.settings.number_of_products_per_page %}{% endcomment %}
    {% comment %}<h1>{{ collection.title }}</h1>{% endcomment %}
    {% comment %}<div>{% endcomment %}
      {% comment %}{% for product in collection.products %}{% endcomment %}
        {% comment %}{% render 'product-card', product_product: product %}{% endcomment %}
      {% comment %}{% else %}{% endcomment %}
        {% comment %}<p>There are no products in this collection</p>{% endcomment %}
      {% comment %}{% endfor %}{% endcomment %}
    {% comment %}</div>{% endcomment %}
    {% comment %}{% render 'pagination', pagination: paginate %}{% endcomment %}
  {% comment %}{% endpaginate %}{% endcomment %}
{% comment %}</div>{% endcomment %}


{% schema %}
{
  "name": "Template Collection",
  "settings": [
    {
      "type": "number",
      "id": "number_of_products_per_page",
      "default": 6,
      "label": "Number of products per page"
    }
  ]
}
{% endschema %}