{% comment %}<div id="login-form">{% endcomment %}
  {% comment %}<h1>Register an account</h1>{% endcomment %}
  {% comment %}{% form 'create_customer' %}{% endcomment %}
    {% comment %}{% if form.errors %}{% endcomment %}
      {% comment %}{{ form.errors | default_errors }}{% endcomment %}
    {% comment %}{% endif %}{% endcomment %}
    {% comment %}<label for="first_name">First name</label>{% endcomment %}
    {% comment %}<input type="text" name="customer[first_name]" id="first_name" autocomplete="given-name" placeholder="First name">{% endcomment %}
    {% comment %}<label for="last_name">Last name</label>{% endcomment %}
    {% comment %}<input type="text" name="customer[last_name]" id="last_name" autocomplete="family-name" placeholder="Last name">{% endcomment %}
    {% comment %}<label for="email_address">Email</label>{% endcomment %}
    {% comment %}<input type="email" name="customer[email]" id="email_address" autocomplete="email" placeholder="Email">{% endcomment %}
    {% comment %}<label for="password">Password</label>{% endcomment %}
    {% comment %}<input type="password" name="customer[password]" id="password" autocomplete="new-password" placeholder="Password">{% endcomment %}
    {% comment %}<button type="submit">Create account</button>{% endcomment %}
  {% comment %}{% endform %}{% endcomment %}
</div>